@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,400;1,100&display=swap"); /* font-family: 'Barlow Semi Condensed', sans-serif; */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  align-items: center;

  font-family: "Barlow Semi Condensed", sans-serif;
}
input,
textarea,
button {
  border: none;
  background-color: rgb(206, 206, 206) !important;
  /* border-radius: 20px; */
  /* box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white; */
  outline: none;
  background-color: transparent;
  padding: 3px 10px;
}
.wrapper {
  border: 1px solid black;
  /* border-radius: 50px; */

  /* box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white; */
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 30px;
  padding-inline: 30px;
}
label {
  /* margin-block: 20px; */
  font-size: 25px;
}

.inout {
  display: flex;
  justify-content: space-around;
}
#question {
  height: 200px;
  overflow-y: scroll;
  margin-block-end: 20px;
}
#submit {
  margin-block-start: 20px;
  align-self: center;
  width: 100px;
  height: 40px;
  font-size: 20px;
  /* border-radius: 50px; */
  background: #e4e7e9;
  padding: 10px 15px;
  /* box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white; */
}

#qname {
  height: 100%;
  width: 100%;
  font-size: 20px;
  /* border-radius: 100vw; */
}
.qname-div {
  margin-block-end: 40px;
}

.inout div {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex-grow: 1;
  margin-inline-end: 10px;
}
.inout div textarea {
  width: 100%;
}
#bPCode {
  height: 200px;
}
.files {
  border: 1px solid black;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  margin-inline-start: 10px;
}

.files h2 {
  /* text-align: center; */
  margin-block-end: 15px;
}
.files > div {
  flex-grow: 1;
  /* border: 1px solid black; */
  padding: 15px;
}
.files p {
  margin-block-end: 10px;
  font-size: 20px;
}
.files input {
  margin-block: 10px;
  height: 40px;
  line-height: 40px;
  flex-grow: 1;
}
.files > div > div {
  display: flex;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: space-between;
}
.files > div > div > button {
  height: 40px;
  padding-inline: 20px;
  /* flex-grow: 1; */
  margin-inline-start: 10px;
}
.showButton {
  text-align: center;
}
.showButton button {
  height: 40px;
  padding: 10px 15px;
  font-size: 20px;
}
