*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 15px;
  margin-block: 10px;
  background-color: #2fa4ff;
  /* border: 1px solid black; */
}
.nav button {
  width: 100px;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  border: #28a9ff;
  align-self: center;
  background-color: #42c2ff;
  border-radius: 10px;
}
.resp {
  /* border: 1px solid black; */
  flex-grow: 1;
  margin-block: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  width: 500px;
  position: relative;
  border-radius: 10px;
  height: 80px;
  border: #28a9ff;
  background-color: #42c2ff;
  margin-block: 15px;
  font-size: 30px;
  transition: 0.7s;
  border: none;
}
.button:hover {
  background-color: #2fa4ff;
  color: white;
}
.button span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 800;
  font-size: 50px;
  /* border: 1px solid black; */
}

.nav img {
  width: 250px;
}
.vdoTuts {
  /* border: 1px solid black; */
  width: 150px;
  height: 40px;
  line-height: 40px;
  background-color: #85f4ff;
  position: relative;
  font-size: 22px;
}
.vdoTuts::after {
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 0;
  border-color: #85f4ff transparent transparent transparent;
}
.vdoTuts::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 0 0 40px;
  border-color: transparent transparent transparent #85f4ff;
}
.vdoTuts a {
  text-decoration: none;
  color: black;
}