@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono@1&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 15px;
  /* background-color: #2fa4ff; */
  /* border: 1px solid black; */
  box-shadow: 2px 7px 17px -6px rgb(197, 197, 197);
}
.nav button,
.submit {
  /* width: 100px; */
  padding-inline: 20px;
  height: 50px;
  margin: 15px;
  font-size: 15px;
  border: 0;
  align-self: center;
  background-color: #ebebeb;
  /* box-shadow: 3px 3px 10px 3px #ddd; */
  transition: all 0.4s;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.submit {
  background-color: #507efa;
  box-shadow: 3px 3px 10px 3px #ddd;
}
.nav button:hover,
.submit:hover {
  box-shadow: 4px 4px 10px 3px #ddd;
}
.nav img {
  width: 230px;
}
.resp {
  width: min(100%, 800px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
}
.questionName {
  font-size: 30px;
  font-weight: 600;
  margin-block: 20px;
}
.question {
  font-size: 22px;
  margin-block: 20px;
}
.codeArea {
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  flex-grow: 1;
  font-family: "Ubuntu Mono", monospace;
}
.submit {
  width: 100px;
  margin: 15px auto;
  height: 40px;
  font-size: 16px;
}
#my-canvas {
  position: fixed;
  visibility: hidden;
  pointer-events: none;
}
#my-canvas.active {
  visibility: visible;
}

.loaderDiv {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.loader:before {
  animation: before8 2s infinite;
}

.loader:after {
  animation: after6 2s infinite;
}

@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }

  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75),
      0 0.5em rgba(111, 202, 220, 0.75);
  }

  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75),
      1em 0.5em rgba(111, 202, 220, 0.75);
  }

  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}

@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }

  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75),
      -0.5em 0 rgba(233, 169, 32, 0.75);
  }

  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75),
      -0.5em 1em rgba(233, 169, 32, 0.75);
  }

  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}

.loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
}